doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/style.css')
div
  h1 About Us
  p This is the about page of our website.
  img(src='/images/NyondoStockLogo.png' alt='')
