doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  style.
// SIDEBAR

body
  aside.sidebar
    .sidebar-header
      .row
        img.col-3(src='/images/logo.png' alt='NyondoStock Logo' width='60px' height='40px')
        h4.fw-bold.mb-1.col-9 NyondoStock
      p.mb-0.text-secondary.topuser Accounts/Admin
    .sidebar-menu
      a.sidebar-link.active(href='/admindashboard')
        i.bi.bi-grid
        |  Dashboard
      a.sidebar-link.active(href='/users')
        i.bi.bi-people
        |  User Management
      a.sidebar-link(href='/credit')
        i.bi.bi-credit-card
        |  Supplier Credit
      a.sidebar-link(href='/transport')
        i.bi.bi-truck
        |  Transport Charges
      a.sidebar-link(href='/depositRegistration')
        i.bi.bi-person-plus
        |  Deposit Registration
      a.sidebar-link(href='/depositTracking')
        i.bi.bi-wallet2
        |  Deposit Tracking
      a.sidebar-link(href='/depositCollection')
        i.bi.bi-archive
        |  Deposit Collection
      a.sidebar-link(href='/reports')
        i.bi.bi-file-earmark-text
        |  Reports
      a.sidebar-link(href='/analytics')
        i.bi.bi-bar-chart
        |  Analytics
      a.sidebar-link(href='/settings')
        i.bi.bi-gear
        |  Settings
    .sidebar-footer
      a.sidebar-link.mb-0(href='/logout')
        i.bi.bi-box-arrow-right
        |  Logout
  // MAIN
  main.main
    // TOPBAR
    .topbar
      h3.fw-bold.mb-0 Admin Account
      .d-flex.align-items-center.gap-3
        button.btn.border.rounded-4.position-relative.p-3
          i.bi.bi-bell.fs-4
          span.position-absolute.top-0.end-0.translate-middle.p-1.bg-danger.border.border-light.rounded-circle
        button.btn.bg-light.rounded-4.px-4.py-3.fw-bold
          i.bi.bi-person.me-2
          |  Admin
    
    .content
      block content
