/*  */
.btn-purple {
    background-color: #6f42c1; /* Bootstrap's default purple hex */
    border-color: #6f42c1;
    color: #fff;
}

.btn-purple:hover {
    background-color: #59359a;
    border-color: #59359a;
    color: #fff;
}